{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<!-- Message for problems with account creation -->
{% if Error %}
{{ Error }}
{% endif %}


<form method ="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    
    <!-- if there's a next on login page, send hidden form -->
    {% if request.GET.next %}
    <input type="hidden" name="next" value={{ request.GET.next }} />
    {% endif %}

    <label for "username">Username</label>
        <input type="text" name="username" />
    <br />
    <label for "password1">Password</label>
        <input type="password" name="password1" />
    <br />
    <input type="submit" value="Log In" />
</form>
{% endblock %}