{% extends 'base.html' %}

{% block content %}

<h1>Reddit</h1>
<a href="{% url 'posts:create' %}">New Post</a>

<br />
<br />

{% for post in posts.all %}

<form method="POST" action="{% url 'posts:upvote' post.id %}">
    {% csrf_token %}
    <input type="submit" value="^">
 </form> {{ post.votes_total }} 
 <form method="POST" action="{% url 'posts:downvote' post.id %}">
    {% csrf_token %}
    <input type="submit" value="v">
</form>  - <a href="{{ post.site_url }}"> {{ post.title }} </a>

<br />
{{ post.created_at }} by {{ post.user.username }}
<br />
{{ post.content }}
<br />
<img src="{{ post.image.url }}" /> 

<br />
<hr>


{% endfor %}

{% endblock %}
